<div class="wrapper__sidebar">
    <aside class="main-sidebar">
        <div class="author">
            <div class="block-label">
                <span class="block-label__text">
                    About me
                </span>
            </div>

            <figure class="author__photo">
                <img src="{{'assets/img/author.jpg' | relative_url}}" alt="" />

                <figcaption class="author__name">Annie Bold</figcaption>
            </figure>

            <div class="author__about">
                I'm an aspiring travel journalist. I write about cultures, countries, peoples, places and all unique
                things existing in the world. Enjoy!
            </div>
        </div>

        <div class="follow-me">
            <div class="block-label">
                <span class="block-label__text">
                    Follow me
                </span>
            </div>

            <div class="follow-me__social">
                <a class="follow-me__social-link" href="https://github.com/"><i class="fab fa-youtube"></i></a>
                <a class="follow-me__social-link" href="https://instagram.com/thesunnyodyssey/?hl=ru"><i class="fab fa-instagram"></i></a>
                <a class="follow-me__social-link" href="https://pscp.tv/anniebold/follow"><i class="fab fa-periscope"></i></a>
            </div>
        </div>

        {% include popular-posts.html %}
    </aside>
</div>
