<aside class="main-sidebar">
    <div class="author">
        <figure class="author__photo">
            <img src="/assets/img/author.jpg" alt="">

            <figcaption class="author__name">Kirill Murashkin</figcaption>
        </figure>

        <div class="author__about">Voluptas, excepturi! Suscipit distinctio quis veniam cum nihil amet, dignissimos id
            ipsa. Ab possimus ipsum nostrum doloremque itaque provident!</div>

        <div class="author__social">
            <a href="https://github.com/"><i class="fab fa-github"></i></a>
            <a href="https://vk.com/kir_repet"><i class="fab fa-vk"></i></a>
        </div>
    </div>
</aside>