<div class="popular-posts">
    <div class="block-label">
        <span class="block-label__text">
            Popular posts
        </span>
    </div>

    <ul class="popular-posts__list">
        <li class="popular-posts__item">
            <a href="#" class="popular-posts__link">Best weed in Afganistan</a>
        </li>

        <li class="popular-posts__item">
            <a href="#" class="popular-posts__link">Hot video from home for the elderly</a>
        </li>

        <li class="popular-posts__item">
            <a href="#" class="popular-posts__link">Annie Gold: how I sold weapon in Africa</a>
        </li>
    </ul>
</div>