<section class="site-header">
    <figure class="main-logo">
        <img class="main-logo__img" src="{{'assets/img/logo.png' | relative_url }}" alt="" />
        <img class="main-logo__img-text" src="{{'assets/img/logo_text.png' | relative_url }}" alt="" />
    </figure>
</section>

<nav class="container main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__item">
            <a href="{{'/' | relative_url}}" class="main-nav__link">Home</a>
        </li>

        <li class="main-nav__item">
            <a href="{{'/about' | relative_url}}" class="main-nav__link">About</a>
        </li>

        <li class="main-nav__item">
            <a href="{{'/contact' | relative_url}}" class="main-nav__link">Contacts</a>
        </li>
    </ul>
</nav>

<div class="delimiter"></div>