<section class="site-header" style="background-image: url('assets/img/site-header-bg.jpg')">
    <figure class="main-logo">
        <img class="main-logo__img" src="assets/img/logo.svg" alt="" />
    </figure>
</section>

<nav class="container main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__item">
            <a href="/antekirta-blog/" class="main-nav__link">Home</a>
        </li>

        <li class="main-nav__item">
            <a href="/antekirta-blog/about" class="main-nav__link">About</a>
        </li>

        <li class="main-nav__item">
            <a href="/antekirta-blog/contacts" class="main-nav__link">Contacts</a>
        </li>
    </ul>
</nav>

<div class="delimiter"></div>