.articles-list__title {
  margin: 15px 0;
  font-weight: 900;
  font-size: 3.4rem;
}

.articles-list__list {
  list-style-type: none;
}

//.articles-list__item {
//  margin-bottom: 60px;
//}

.articles-list__line {
  margin: 80px 0;
  text-align: center;
}
