.author {
  padding: 15px;
  // border: solid 1px #eee;
}

.author__photo {
  width: 280px;
}

.author__photo img {
  width: 100%;
  border-radius: 2px;
}

.author__name {
  margin-top: 5px;
  font-size: 1.3em;
  font-weight: 700;
  color: var(--color-black);
  letter-spacing: 0.05rem;
}

.author__about {
  margin-top: 10px;
}
