.delimiter {
    width: 100vw;
    height: 5px;
    border-top: solid 1px rgba(43, 144, 246, .3);
    border-bottom: solid 1px rgba(43, 144, 246, .3);
    background-color: rgba(43, 144, 246, .2);
    opacity: 0.5;
}