// .follow-me {

// }

.follow-me__social {
  margin-top: 15px;
}

.follow-me__social .fab {
  display: inline-block;
  margin-right: 10px;
  font-size: 3.5rem;
  transition: 0.2s;
  cursor: pointer;
  color: var(--color-blue);
}

.follow-me__social-link::after {
  display: none;
}

.follow-me__social .fab:hover {
  color: var(--color-yellow);
}
