.popular-posts {
  margin: 15px;
  padding: 15px;
  // border: solid 1px #eee;
}

.popular-posts__list {
  list-style-type: none;
  margin-bottom: 15px;
}

.popular-posts__item {
  margin-bottom: 10px;
}

.popular-posts__link {
  line-height: 2.2rem;
  color: var(--color-blue);
}
